<footer>
	<div class="footer">
		<ul>	
			<li class="left">
				Contact us on -
				<ul>
					<li><a href="http://facebook.com/aviral.sachdeo"><img src="/images/facebook.png" width="40px" height="40px"></a></li>
					<li><a href="https://twitter.com/aviral_sachdeo"><img src="/images/twitter.png" width="30px" height="30px"></a></li>
					<li><a href="https://twitter.com/aviral_sachdeo"><img src="/images/instagram.png" width="30px" height="30px"></a></li>
				</ul>
			</li>

			<li class="middle">
				copyright &copy; 2016-17
			</li>

			<li class="right">
				<input type="text" placeholder="Enter email id">
				<a href="#">Subscribe</a>
			</li>
		</ul>	
	</div>
</footer>	