<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">	
</head>
<body>
<% include partials/nav.ejs %>

<div class="header"">

</div>
<div class="page-title">
	<%= title %>
</div>

<% include partials/footer.ejs %>

</body>
</html>